<a href="https://colab.research.google.com/github/JonAbaroa/codea_cademy/blob/master/Code_academy_Python3_syntax_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learn Python: Syntax**

In this course we’ll learn about the syntax of the Python programming language! We will go over fundamental commands that store variables, print messages, and perform mathematical operations.

In [2]:
my_name = "jon iñaki abaroa schilling"
print("Hello and welcome " + my_name + "!")
print("Hello and welcome " , my_name , "!")

Hello and welcome jon iñaki abaroa schilling!
Hello and welcome  jon iñaki abaroa schilling !

# **Comments**

In [ ]:
# This variable will be used to count the number of times anyone tweets the word persnickety
persnickety_count = 0

In [ ]:
# This code will calculate the likelihood that it will rain tomorrow
complicated_rain_calculation_for_tomorrow()

In [ ]:
# useful_value = old_sloppy_code()
useful_value = new_clean_code()

# **Print**

In [4]:
# from Mary Shelley's Frankenstein
print("There is something at work in my soul, which I do not understand.")

There is something at work in my soul, which I do not understand.

In [7]:
print('line1 \n\nline3')

line1

line3

# **Strings**

In [ ]:
print("jon")

In [ ]:
# Greeting
message_string = "Hello there"
print(message_string)

# Farewell
message_string = "Hasta la vista"
print(message_string)

# **Variables**

In [ ]:
message_string = "Hello there"
# Prints "Hello there"
print(message_string)

# **Numbers**

In [ ]:
an_int = 2
a_float = 2.1

print(an_int + 3)
# prints 5

# **Calculations**

In [ ]:
# Prints "500"
print(573 - 74 + 1)

# Prints "50"
print(25 * 2)

# Prints "2.0"
print(10 / 5)

# **Changing Numbers**

In [8]:
coffee_price = 1.50
number_of_coffees = 4

# Prints "6.0"
print(coffee_price * number_of_coffees)
# Prints "1.5"
print(coffee_price)
# Prints "4"
print(number_of_coffees)

# Updating the price 
coffee_price = 2.00

# Prints "8.0"
print(coffee_price * number_of_coffees)
# Prints "2.0"
print(coffee_price)
# Prints "4"
print(number_of_coffees)

6.0
1.5
4
8.0
2.0
4

# **Exponents**

In [ ]:
# 2 to the 10th power, or 1024
print(2 ** 10)

# 8 squared, or 64
print(8 ** 2)

# 9 * 9 * 9, 9 cubed, or 729
print(9 ** 3)

# We can even perform fractional exponents
# 4 to the half power, or 2
print(4 ** 0.5)

# **Modulo**

In [ ]:
my_team = 29 % 5

print(my_team)

# **Concatenation**

In [9]:
greeting_text = "Hey there!"
question_text = "How are you doing?"
full_text = greeting_text + question_text

# Prints "Hey there!How are you doing?"
print(full_text)

Hey there!How are you doing?

In [10]:
full_text = greeting_text + " " + question_text

# Prints "Hey there! How are you doing?"
print(full_text)

Hey there! How are you doing?

In [11]:
birthday_string = "I am "
age = 10
birthday_string_2 = " years old today!"

# Concatenating an integer with strings is possible if we turn the integer into a string first
full_birthday_string = birthday_string + str(age) + birthday_string_2

# Prints "I am 10 years old today!"
print(full_birthday_string)

# If we just want to print an integer 
# we can pass a variable as an argument to 
# print() regardless of whether 
# it is a string.

# This also prints "I am 10 years old today!"
print(birthday_string, age, birthday_string_2)

I am 10 years old today!
I am  10  years old today!

# **Plus Equals**

In [12]:
# First we have a variable with a number saved
number_of_miles_hiked = 12

# Then we need to update that variable
# Let's say we hike another two miles today
number_of_miles_hiked += 2

# The new value is the old value
# Plus the number after the plus-equals
print(number_of_miles_hiked)
# Prints 14

14

In [14]:
hike_caption = "What an amazing time to walk through nature!"

# Almost forgot the hashtags!
hike_caption += " #nofilter"
hike_caption += " #blessed"

print(hike_caption)

What an amazing time to walk through nature! #nofilter #blessed

# **Multi-line Strings**

In [15]:
leaves_of_grass = """
Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.
"""

print(leaves_of_grass)

Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.